<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.4/phpunit.xsd"
        backupGlobals="true"
        cacheTokens="false"
        colors="true"
        verbose="true"
        bootstrap=".Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php"
>
    <testsuites>
        <testsuite name="Project Version Unit tests">
            <directory suffix=".php">Tests/Unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">Classes/</directory>
            <exclude>
                <directory suffix=".php">Classes/Facade/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target=".Build/web/typo3temp/logs/clover.xml"/>
    </logging>
</phpunit>
